@font-face {
    font-family: "Segoe Regular";
    src: url(../fonts/segoeui.ttf);
}
  
@font-face {
    font-family: "Segoe Bold";
    src: url(../fonts/segoeuib.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Din Next Regular";
    src: url(../fonts/DINNextSlabRegular.ttf);
}

.depositions {
    width: 300px;
    margin: 0 auto;
    color: #025294;
}

.depositions h2 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: "Din Next Regular";
}

.depositions .depositions-itens {
    display: flex;
    flex-direction: column;
    align-items: center;
}   

.depositions .depositions-item {
    padding: 25px;
    border: solid 2px #025294;
    margin-bottom: 20px;
    border-radius: 20px;
    height: 180px;
    max-width: 300px;
}

.depositions .depositions-student {
    display: inline;
    font-size: 1.2rem;
}

.depositions .depositions-name {
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 1.2rem;
}

.depositions .depositions-age {
    text-align: right;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.citar {
    padding-right: 5px;
    fill: #025294;
    height: 2em;
}

.refletir {
    position: absolute;
    transform: rotateY(180deg);
    padding-left: 5px;
 }

 @media (min-width: 768px) {
    .depositions {
        min-width: 768px;
        margin: 0 auto;
        text-align: center;
    }

    .depositions .depositions-itens {
        flex-direction: row;
        justify-content: center;
    }

    .depositions .depositions-item {
        max-width: 350px;
    }   
 }