@font-face {
    font-family: "Segoe Regular";
    src: url(../fonts/segoeui.ttf);
}
  
@font-face {
    font-family: "Segoe Bold";
    src: url(../fonts/segoeuib.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Din Next Regular";
    src: url(../fonts/DINNextSlabRegular.ttf);
}

.differentials {
    background-color: #025294;
    width: 100%;
}

.differentials .container {
    width: 300px;
    margin: 0 auto;
}

.differentials .container h2 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    font-family: "Din Next Regular";
}

.differentials .container .carousel-differentials h3 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    font-family: "Din Next Regular";
}

.differentials .container .carousel-differentials svg {
    height: 5em;
    width: auto;
    display: block;
    margin: auto;
    fill: #fff;
}

.differentials .container .carousel-differentials p {
    text-align: center;
    color: #fff;
    font-family: "Segoe Regular";
    padding-top: 10px;
    margin-bottom: 40px;
}

.differentials .container .carousel-differentials .next-slide > svg {
    padding: 10px;
    position: relative;
    float: right;
    /*top: -100px;*/
    bottom: 180px;
    left: 20px;
    fill: #fff;
    height: 5em;
    width: auto;
}

@media (min-width: 768px) {

    .differentials .container {
        min-width: 768px;
        margin: 0 auto;
        text-align: center;
    }

    .differentials .container h2 {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }

    .differentials .container .carousel-differentials .slick-slide {
        padding: 0 20px;
    }
}

@media (min-width: 1024px) {
    .differentials .container {
        min-width: 1024px;
    }
}