/* FORMULARIO */ 

.forms {
    background-color: #025193;
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 450px;
    width: 100%;
    font-family: "Segoe Regular";
}

.forms h2 {
    text-transform: uppercase;
    font-family: "Segoe Bold";
}

.forms p {
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 14px;
}

.forms .form-input {
    width: 100%;
    border: 0;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.forms .form-btn {
    border: none;
}