* {
    box-sizing: border-box;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

svg {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

html {
    font-size: 12px;
}

@font-face {
    font-family: "Din Next Regular";
    src: url(../fonts/DINNextSlabRegular.ttf);
}

/* BANNER */

.banner {
    background-image: url(../img/banner.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 180px;
    color: #fff;
    text-align: center;
    padding-top: 100px;
    font-family: "Din Next Regular";
    position: relative;
}

.triangle-top-left {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-top: 100px solid #fff;
    border-right: 100px solid transparent;
}

.triangle-top-left img {
    min-width: 60px;
    min-height: auto;
    position: absolute;
    top: -90px;
}

.banner h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    padding-top: 15px;
}

.banner p {
    font-weight: bold;
    color: #fff;
    font-size: 1.1rem;
}