/*.carousel {
    width: 200px;
    margin: 0 auto;
}*/

.stage {
    width: 300px;
    margin: 0 auto;
}

.stage h2 {
    text-align: center;
    text-transform: uppercase;
}

.stage .carousel-stage .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #EF323D;
    margin: 0 auto;
    display: flex;
}

.stage .carousel-stage .circle > svg {
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
    fill: #fff;
}

.stage .carousel-stage p {
    text-align: center;
}

.previous-slide > svg {
    padding: 10px;
    position: absolute;
    bottom: 100px;
    z-index: 1;
}

.next-slide > svg {
    padding: 10px;
    position: relative;
    float: right;
    top: -150px;
}

@media (min-width: 768px) {
    .stage {
        width: 1000px;
        margin: 0 auto;
        text-align: center;
    }
}